
<body>
  <h1> <%= @user.email %>'s page!  </h1>

  <div>
    <%= link_to('purchase history', review_path) %>
  </div>
  <div>
    <%= link_to('offers', match_path) %>
  </div>
  <div>
    <%= link_to('reviews', review_path) %>
  </div>

  </br>
  <%= link_to('home', root_path) %>
</body>
