
<body>
  <h1> Welcome to the Oski Exchange </h1>

  <div id="post-section">
    <% @posts.reverse_each do |post| %>
      <div class="post">
        title: <%= post.title %> <br />
        price: <%= post.price %> <br />
        description: <%= post.description %> <br />
        poster: <b><%= link_to(post.user.email, post.user) %></b> <br />
        <%= link_to("make an offer", '/post/'+post.id.to_s+'/make_offer') %> <br />
      </div>
      <br />
      <br />
    <% end %>
  </div>

</body>
