
<body>
  <h1> Welcome to the Oski Exchange </h1>

  <div id="post-section">
    <% @posts.reverse_each do |post| %>
      <div class="card-1">
        <b>title:</b> <%= post.title %> <br />
        <b>price:</b> <%= post.price %> <br />
        <b>description:</b> <%= post.description %> <br />
        <b>poster:</b> <b><%= link_to(post.user.email, post.user) %></b> <br />
        <% if user_signed_in? %>
          <%= link_to("make an offer", '/post/'+post.id.to_s+'/make_offer') %> <br />
        <% end %>
      </div>
      <br />
  </div>

</body>
<% end %>
